/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.ivu-page{
  margin-top:15px;
}
.ivu-breadcrumb{
  margin-bottom: 5px;
}
.ivu-row{
  margin: 0 0 10px 0
}